@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Cinzel+Decorative:wght@700&family=Crimson+Text:wght@600&family=Croissant+One&family=Domine:wght@700&family=Heebo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Cinzel+Decorative:wght@700&family=Heebo&display=swap');
html{
    scroll-behavior: smooth;
}
.home{
    height: 740px;
    width: 100%;
    background-image: url(./Ferrari\ Home1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.nav{
    position: fixed;
    top: 0px;
    height: 60px;  
    z-index: 1000; 
}
.logo img{
    position: fixed;
    top: 115px;
    left: 25px;
    height: 50px;
    width: 60px;
}
.nav ul li{
    top: 0px;
    position: relative;
    font-size: 19px;
    padding: 8px 36px 8px 28.6px;
    list-style: none;
    color: black;
    font-family: 'Croissant One', sans-serif; 
    background-color: rgb(240, 240, 240);
    left: -58px;
}
ul li a:hover{
    padding: 8px 15px 8px 15px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: black;
    color: gold;
    -webkit-text-stroke: 0.5px gold;
    transition: all 0.25s ease-out;
}
ul li a{
    text-decoration: none;
    color: black;
}
ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.home h2{
    font-size: 45px;
    position: relative;
    top: 120px;
    left: 80px;
    width: 70%;
    font-weight: 500;
    font-family: 'Croissant One', sans-serif;
    -webkit-text-stroke: 1px black;
}
.home p{
    font-size: 16px;
    font-family: 'Croissant One', sans-serif;
    width: 25%;
    position: relative;
    top: 120px;
    left: 83px;
    color: azure;
    -webkit-text-stroke: 0.2px black;
}
.home input{
    background-color: azure;
    border-radius: 10px;
    position: relative;
    top: 537px;
    left: 638px;
    height: 60px;
    width: 250px;
    font-family: 'Cinzel Decorative', sans-serif;
    -webkit-text-stroke: 0.5px black;
    font-size: 18px;
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.6);
}
.home input:hover{
    scale: 1.05;
    background-color: black;
    color: gold;
    -webkit-text-stroke: 0.5px gold;
    transition: all 0.2s ease-out;
}
.intro{
    height: 740px;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-image: url(./intro.jpg);
}
.intro h2{
    font-family: 'Cinzel Decorative', sans-serif;
    position: relative;
    left: 640px;
    top: 60px;
    width: fit-content;
    -webkit-text-stroke: 0.4px black;
    color: black;
    animation: founder 2s ease-in infinite alternate;
}
@keyframes founder {
    from{
        scale: 0.9;
    }
    top{
        scale: 1.1;
    }
}
.intro p{
    font-size: 16.5px;
    width: 40%;
    position: relative;
    top: 70px;
    left: 485px;
    font-family: 'Heebo', sans-serif;  
    -webkit-text-stroke: 0.6px black;
}
.page1{
    background-image: url(./Page1.jpg);
    border: 1px solid;
    height: 740px;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
}
.page2{
    background-image: url(./Page2.jpg);
    border: 1px solid;
    height: 740px;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
}
.page3{
    background-image: url(./Page3.jpg);
    border: 1px solid;
    height: 740px;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
}
.page4{
    background-image: url(./Page4.jpg);
    border: 1px solid;
    height: 740px;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
}
.page5{
    background-image: url(./Page5.jpg);
    border: 1px solid;
    height: 740px;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
}
.page6{
    background-image: url(./Page6.jpg);
    border: 1px solid;
    height: 740px;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
}
.page7{
    background-image: url(./Page7.jpg);
    border: 1px solid;
    height: 740px;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
}
.page8{
    background-image: url(./Page8.jpg);
    border: 1px solid;
    height: 740px;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
}
.page9{
    background-image: url(./Page9.jpg);
    border: 1px solid;
    height: 740px;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
}
.page10{
    background-image: url(./Page10.jpg);
    border: 1px solid;
    height: 740px;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
}
.page11{
    background-image: url(./Page11.jpg);
    border: 1px solid;
    height: 740px;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
}
.page12{
    background-image: url(./Page12.jpg);
    border: 1px solid;
    height: 740px;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
}
.content h2{
    font-family: 'Croissant One', sans-serif;
    padding: 55px 0px 0px 700px;
    font-size: 40px;
    -webkit-text-stroke: 0.5px white;
    animation: year 1.4s ease-in infinite alternate;
}
@keyframes year {
    from{
        scale: 0.8;
    }
    to{
        scale: 0.9;
        -webkit-text-stroke: 1px black;
        color: red;
    }
}
.content p{
    font-family: 'Croissant One', sans-serif;
    width: 45%;
    color: azure;
    position: absolute;
    left: 420px;
}
.page8 p{
    color: black;
}
.page11 p{
    color: black;
}
.page12 p{
    color: black;
}
.legacy{
    height: 740px;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-image: url(./Legacy.jpg);
}
.legacy h2{
    position: relative;
    left: 575px;
    top: 100px;
    width: fit-content;
    -webkit-text-stroke: 1px black;
    color: azure;
    font-family: 'Cinzel Decorative', sans-serif;
}
.legacy h2{
    width: 0px;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 4s steps(100) infinite;
}
@keyframes typing {
    from{
        width: 0%;
    }
    to{
        width: 50%;
    }
}

